@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../assets/Montserrat/Montserrat-Light.ttf');
}